<!DOCTYPE html>
<html lang="vi-VN">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="format-detection" content="telephone=no">
    

    <title>Vé xe Phương Trang | C&#244;ng ty cổ phần xe kh&#225;ch Phương Trang | FUTA Bus Lines</title>
    
    
	<!-- HTML Meta Tags -->
<title>Vé xe Phương Trang | Công ty cổ phần xe khách Phương Trang | FUTA Bus Lines</title>

    <!--[if lt IE 9]>
        <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <link rel="stylesheet" id="theme-style-css" href="/futabus.vn/Content/css/style.min.css" type="text/css" media="all">

    <link async rel="stylesheet" href="/futabus.vn/font-awesome/css/font-awesome.min.css">
    
    <link async href="/futabus.vn/Content/css/fontawesome-stars.css" rel="stylesheet">
    
    <link href="/futabus.vn/Content/plugins/sidebar/slidebars.css" rel="stylesheet">
    

    <link rel="stylesheet" href="/futabus.vn/Content/plugins/flexslider/flexslider.min.css" type="text/css" media="all">
    
    <link rel="stylesheet" href="/futabus.vn/Content/plugins/sliderTabs/styles/jquery.sliderTabs.min.css">
    

    <link rel="stylesheet" type="text/css" href="/futabus.vn/bower_components/bootstrap-select/css/bootstrap-select.min.css">
    
    <link rel="stylesheet" type="text/css" href="/futabus.vn/Content/js/bootstrap-datepicker/css/bootstrap-datepicker.min.css">
    
    <link href="/futabus.vn/Content/css/animate.css" rel="stylesheet">

    <link href="/futabus.vn/Content/css/custom.min.css" rel="stylesheet" type="text/css" media="all">
	<!--Google Analytic-->
	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-131295557-1"></script>
	<script>
		window.dataLayer = window.dataLayer || [];
		function gtag(){dataLayer.push(arguments);}
		gtag('js', new Date());

		gtag('config', 'UA-131295557-1');
	</script>
	<!---->
</head>
<body style="background: #fff;">
    <!-- Use for snow ( include css file) -->
    
    
    <!-- Google Tag Manager -->
    <noscript>
        <iframe src="//www.googletagmanager.com/ns.html?id=GTM-W4H6W2" height="0" width="0" style="display: none; visibility: hidden"></iframe>
    </noscript>
    <script>
        (function (w, d, s, l, i) {
            w[l] = w[l] || [];
            w[l].push({
                'gtm.start':
                    new Date().getTime(),
                event: 'gtm.js'
            });
            var f = d.getElementsByTagName(s)[0],
                j = d.createElement(s),
                dl = l != 'dataLayer' ? '&l=' + l : '';
            j.async = true;
            j.src =
                '//www.googletagmanager.com/gtm.js?id=' + i + dl;
            f.parentNode.insertBefore(j, f);
        })(window, document, 'script', 'dataLayer', 'GTM-W4H6W2');
    </script>
    <!-- End Google Tag Manager -->
    
    <div id="br-cover-content">
        <div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Câu hỏi thường gặp trong chương trình khuyến mãi</h4>
            </div>
            <div class="modal-body">
                <div class="cd-faq-items" style="padding-left:0;">
                    <ul id="futabus" class="cd-faq-group">
                        <li>
                            <a class="cd-faq-trigger" href="#0">01. Vì sao chỉ riêng tuyến Cần Thơ - Sài Gòn, Đà Lạt - Sài Gòn được thực hiện chiến dịch này?</a>
                            <div class="cd-faq-content">
                                <p> Kỷ niệm 15 năm thành lập công ty, công ty tổ chức chương trình tri ân khách hàng cho 2 tuyến, ĐL là tuyến liên tỉnh đầu tiên khu vực Miền Trung-Tây Nguyên, Cần Thơ là tuyến đầu tiên khu vực Miền Tây.</p>
                            </div> <!-- cd-faq-content -->
                        </li>
                        <li>
                            <a class="cd-faq-trigger" href="#0">02. Dường như công ty chỉ tổ chức khuyến mãi tại những tuyến có cạnh tranh, còn những tuyến không hoặc ít có cạnh tranh thì sẽ như thế nào?</a>
                            <div class="cd-faq-content">
                                <p>Thực tế các tuyến đều có đối thủ cạnh tranh, Công ty Phương trang nhằm tri ân khách hàng cho 2 tuyến đã hoạt động lâu đời và có lượng khách hàng lớn nhất của toàn hệ thống. Tuy nhiên Phương Trang sẽ có các kế hoạch và chiến dịch tri ân khách hàng các tuyến còn lại trong thời gian sắp tới.</p>
                            </div> <!-- cd-faq-content -->
                        </li>
                        <li>
                            <a class="cd-faq-trigger" href="#0">03. Những ưu đãi này có được áp dụng tại các chi nhánh nào nữa không?</a>
                            <div class="cd-faq-content">
                                <p>Trước mắt chúng tôi chỉ áp dụng với Đà Lạt , Cần Thơ  các tuyến còn lại đang nằm trong kế hoạch sắp tới của công ty.</p>
                            </div> <!-- cd-faq-content -->
                        </li>
                        <li>
                            <a class="cd-faq-trigger" href="#0">04. Tôi có thể mua vé ưu đãi này nếu tôi không phải là người sống tại Đà Lạt hoặc Cần Thơ?</a>
                            <div class="cd-faq-content">
                                <p>Nếu Khách hàng có nhu cầu đi lại trên 2 tuyến Cần Thơ –Sài Gòn ( ngược lại ) , Đà lạt – Sài Gòn ( ngược lại ) thì Khách hàng đều được ưu đãi giảm giá. </p>
                            </div> <!-- cd-faq-content -->
                        </li>
                        <li>
                            <a class="cd-faq-trigger" href="#0">05. Khi mua vé online ở 2 tuyến khuyến mãi này, tôi có được giảm giá không?</a>
                            <div class="cd-faq-content">
                                <p>Khách hàng có 3 hình thức mua vé và được nhận ưu đãi khuyến mãi: Mua trực tiếp tại các phòng vé, Mua online tại website <a target="_blank" href>futabus.vn</a> và ứng dụng di động FUTA Bus, Đặt vé qua tổng đài <span class="text-danger">1900 6067</span></p>
                                <p>Link download app</p>
                                <ul>
                                    <li><a target="_blank" href="https://itunes.apple.com/vn/app/futa-bus/id1049039667?mt=8">IOS</a></li>
                                    <li><a target="_blank" href="https://play.google.com/store/apps/details?id=com.futabus.activity&hl=vi">Android</a></li>
                                </ul>
                            </div> <!-- cd-faq-content -->
                        </li>
                        <li>
                            <a class="cd-faq-trigger" href="#0">06. Chương trình khuyến mãi kéo dài trong bao lâu?</a>
                            <div class="cd-faq-content">
                                <p>Thời gian chương trình khuyến mãi mỗi đợt dự kiến là 45 ngày. </p>
                            </div> <!-- cd-faq-content -->
                        </li>
                        <li>
                            <a class="cd-faq-trigger" href="#0">07. Tôi có bị giới hạn số lượng vé khuyến mãi khi mua vé hay không?</a>
                            <div class="cd-faq-content">
                                <p>Khách hàng không bị giới hạn số lượng khi mua vé trong chương trình khuyến mãi.</p>
                            </div> <!-- cd-faq-content -->
                        </li>
                        <li>
                            <a class="cd-faq-trigger" href="#0">08. Liệu tôi có phải cung cấp thêm những gì để được hưởng giảm giá vé?</a>
                            <div class="cd-faq-content">
                                <p>Khách hàng chỉ cần cung cấp đầy đủ thông tin cá nhân (số điện thoại, họ tên, Email nếu có) theo yêu cầu khi mua vé trực tiếp hoặc mua vé trực tuyến.</p>
                            </div> <!-- cd-faq-content -->
                        </li>
                        <li>
                            <a class="cd-faq-trigger" href="#0">09. Trong thời gian khuyến mãi tôi dự định mua vé trước thời gian tôi đi khoảng 3 tháng có được giảm giá hay không?</a>
                            <div class="cd-faq-content">
                                <p>Chương trình này có 45 ngày. Giá vé khuyến mãi sẽ được diễn ra trong dòng 45 ngày kể từ ngày <strong>1/7/2016 – 14/08/2016</strong></p>
                            </div> <!-- cd-faq-content -->
                        </li>
                        <li>
                            <a class="cd-faq-trigger" href="#0">10. Vé khuyến mãi có được hoàn đổi trả hay không?</a>
                            <div class="cd-faq-content">
                                <p>Khách hàng được trả vé theo quy định của công ty</p>
                            </div> <!-- cd-faq-content -->
                        </li>
                        <li>
                            <a class="cd-faq-trigger" href="#0">11. Liệu tôi có thể tặng vé khuyến mãi cho người khác không?</a>
                            <div class="cd-faq-content">
                                <p>Khách hàng có thể tặng vé cho người khác, tuy nhiên khách hàng cần cung cấp lại thông tin người được cho tặng.</p>
                            </div> <!-- cd-faq-content -->
                        </li>
                        <li>
                            <a class="cd-faq-trigger" href="#0">12. Vé khuyến mãi có được phục vụ như vé không khuyến mãi không?</a>
                            <div class="cd-faq-content">
                                <p>Quý khách sẽ được phục vụ đầy đủ các dịch vụ đính kèm như: Trung chuyển, khăn, nước, wifi, dép đi lại, mền. Chúng tôi đảm bảo chất lượng dịch vụ là không thay đổi.</p>
                            </div> <!-- cd-faq-content -->
                        </li>
                        <li>
                            <a class="cd-faq-trigger" href="#0">13. Số lượng vé khuyến mãi có bị giới hạn hay không?</a>
                            <div class="cd-faq-content">
                                <p>Số lượng vé khuyến mãi sẽ được giới hạn theo thời gian chương trình.</p>
                            </div> <!-- cd-faq-content -->
                        </li>
                        <li>
                            <a class="cd-faq-trigger" href="#0">14. Nếu có trường hợp người khác mua đi bán lại vé khuyến mãi theo mức giá thông thường thì sao?</a>
                            <div class="cd-faq-content">
                                <p>Chúng tôi khuyến cáo khách hàng nên mua qua kênh bán vé chính thống của Phương Trang. Mọi trường hợp mua vé bên ngoài hệ thống, chúng tôi hoàn toàn không chịu trách nhiệm.</p>
                            </div> <!-- cd-faq-content -->
                        </li>
                        <li>
                            <a class="cd-faq-trigger" href="#0">15. Khi mua vé ở các điểm đại lý, tôi có được hưởng khuyến mãi hay không?</a>
                            <div class="cd-faq-content">
                                <p>Vẫn được áp dụng chính sách giảm giá.</p>
                            </div> <!-- cd-faq-content -->
                        </li>
                    </ul> <!-- cd-faq-group -->
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Đóng</button>
            </div>
        </div>

    </div>
</div>
        <div id="MapModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Câu hỏi thường gặp trong chương trình khuyến mãi</h4>
            </div>
            <div class="modal-body">
                <div class="span11">
                    <div id="mapMu" style="height: 320px"></div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Đóng</button>
            </div>
        </div>

    </div>
</div>
        <button type="button" id="promotion_faq_button" class="btn btn-default btn-circle hidden" data-toggle="modal" data-target="#myModal" title="Câu hỏi thường gặp trong chương trình khuyến mãi"><i class="fa fa-question" aria-hidden="true"></i></button>

        <div>
            <div id="sb-site">

                <div class="br-header">
    <div id="top-nav" class="hidden-xs">
        <div class="container">
            <ul class="clearfix">
                
                <li class="pull-right diff"><a href="en-US/"><img src="/futabus.vn/Content/res/GB.png" style="padding-bottom: 2px;" alt="English">&nbsp;<span class="hidden-xs">English</span></a></li>
                <li class="pull-right">
                    <a target="_blank" href="https://www.facebook.com/xephuongtrang">
                        <i class="fa fa-facebook-square"></i>&ensp;Fanpage
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <nav>
        <div class="container">
            <div id="logo" class="pull-left">
                <a href class>
                    <img id="logo-main" src="/futabus.vn/Content/img/logo-futa-edit.png" alt>
                </a>
            </div>
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed sb-toggle-left" data-toggle="collapse" data-target aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

            </div>
            <ul class="pull-right hidden-xs">
                <li><a href="vi-VN/ve-xe-phuong-trang-lich-trinh.html">Lịch trình</a></li>
                <li><a href="vi-VN/cac-chuong-trinh-khuyen-mai.html">Khuyến mãi</a></li>
                <li><a href="vi-VN/ve-xe-phuong-trang-tin-tuc.html">Tin tức</a></li>
				<li><a target="_blank" href="https://vieclam.futabus.vn/">Tuyển dụng</a></li>
                <li><a href="vi-VN/ve-xe-phuong-trang-lien-he.html">Liên hệ</a></li>

    <li><a href="">Đăng nhập</a></li>
	<li><a target="_blank" href="">Hóa đơn</a></li>

            </ul>
        </div>
    </nav>
</div>