<%- include ('../partials/header') %>   
      
<section id="body-top">
    <div class="container">
        <div class="row">
            <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12 col-ms-12">
                <div>
    <!-- Nav tabs -->
    <ul class="v-tabs clearfix" role="tablist">
        <li style="margin-left: 100px;" role="presentation" class="active"><a href="#booking" aria-controls="home" role="tab" data-toggle="tab">Mua vé trực tuyến</a></li>
    </ul>
    <!-- Tab panes -->
    <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="booking">
            <form class="form" name="bookingPartialForm">
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 col-ms-12">
                        <div class="form-group">
                            <label for>Điểm khởi hành</label>
                            <div class="controls">
                                <i class="fa fa-bus text-primary"></i>
                                <select  class="form-control selectpicker" id="startPlace">
                                    <option value>Chọn điểm khởi hành</option>
                                <% if (PROVINCES && PROVINCES.length) { %>
                                    <% PROVINCES.forEach((province) => { %>
                                            <option value="<%=province.text%>"><%=province.text%></option>
								    <% }) %>
                                <% } %>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 col-ms-12">
                        <div class="form-group">
                            <label for>Điểm đến</label>
                            <div class="controls">
                                <i class="fa fa-bus text-primary"></i>
                                
                                <select class="form-control selectpicker" id="endPlace">
                                    <option value>Chọn điểm đến</option>

                                    <% if (PROVINCES && PROVINCES.length) { %>
                                        <% PROVINCES.forEach((province) => { %>
                                                <option value="<%=province.text%>"><%=province.text%></option>
                                        <% }) %>
                                    <% } %>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 col-ms-12">
                        <div class="form-group">
                            <label for>Ngày khởi hành</label>
                            <div class="controls">
                                <i class="fa fa-clock-o text-primary"></i>
                                
                                <input id ="dayTime" type="text" name="dDate" placeholder=" dd/mm/yyyy" class="form-control dDate date-readonly" value="24-04-2020" readonly>
                                <small><em>Định dạng: dd-mm-yyyy</em></small>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 col-ms-12">
                        <div class="form-group">
                            <label for>Số lượng vé</label>
                            <div class="controls">
                                <i class="fa fa-ticket text-primary"></i>
                                
                                <input id="amountTicket" type="number" name="numOfTicket" placeholder="1" value="1" class="form-control" min="1" max="10">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-5 col-md-5 col-sm-6 col-xs-6 col-ms-12">
                            <button id="btnDatVe" type="button" class="btn btn-primary btn-block btn-flat ">Mua vé</button>
                    </div>
                </div>
            </form>
        </div>
        <div role="tabpanel" class="tab-pane" id="profile">
        </div>
    </div>
</div>
            </div>
            <div class="col-lg-7 col-md-7 col-sm-12 col-xs-12 col-ms-12">
                <div id="slider-home" class="flexslider">
                    <ul class="slides">
                        <li class="flex-active-slide" style="width: 100%; float: left; margin-right: -100%; position: relative; opacity: 1; display: block; z-index: 2;"><a href=""><img src="https://znews-photo.zadn.vn/w1024/Uploaded/qhj_yvobvhfwbv/2018_07_18/Nguyen_Huy_Binh1.jpg" draggable="false"></a></li>
                        <li style="width: 100%; float: left; margin-right: -100%; position: relative; opacity: 0; display: block; z-index: 1;" class=""><a href=""><img src="https://znews-photo.zadn.vn/w1024/Uploaded/qhj_yvobvhfwbv/2018_07_18/Nguyen_Huy_Binh1.jpg" draggable="false"></a></li>			
                        <li style="width: 100%; float: left; margin-right: -100%; position: relative; opacity: 0; display: block; z-index: 1;" class=""><a href="javascript:;"><img src="https://znews-photo.zadn.vn/w1024/Uploaded/qhj_yvobvhfwbv/2018_07_18/Nguyen_Huy_Binh1.jpg" draggable="false"></a></li>		            
                    </ul>
                </div>
            </div>

        </div>
        
    </div>
</section>



<section class="br-download-v2">
    
	
	<!--Banner-->
	<div class="container" style="padding-top:30px; margin-top:0px">
	  <div class="col-md-12" style="margin-bottom:0px"> 		
			<img style="width:100%;" src="futabus.vn/uploads/useravatar/thong-bao-tang-cuong-dot-3%20%281%29.png">
        </div>
	</div>

	</div>	

	</div>	

	
</section>


<section class="container" id="star-city">
    <h3 class="heading"><i class="fa fa-file-text" aria-hidden="true"></i> Khởi hành từ các thành phố lớn</h3>
    
    <div class="row">
        <% if (listBuses && listBuses.length) { %>
            <% listBuses.forEach(buses => { %>
            <div class="col-md-4 startpoint-block">
                <img src="/futabus.vn/Content/img/private/webfutabusline-09.png">
                <div class="startpoint-text">
                    <p>Khởi hành từ: <span><%=buses.startPlace%> </span><i> (Xem bản đồ)</i></p>
                    <p>Hotline:  
                                        <span><%=buses.hotline%></span></p>
                    <p>Điểm đến: <span><%=buses.endPlace%></span></p>
                    <a href="">Chi tiết</a>
                    <div class="clearfix"></div>
                </div>
            </div>
            <% }) %>
        <% } %>
    </div>
</section>
<section class="container" id="more-info">
    <h3 class="heading"><i class="fa fa-file-text" aria-hidden="true"></i> Thông tin cần biết</h3>
    <div class="row">
        <div class="col-md-4 thongtin-block">
            <img src="/futabus.vn/Content/img/private/imgqdchung-17.png">
            <div class="thongtin-text">
                <h3>Những quy định chung</h3>
                <p>
                    Công ty xe khách Phương Trang khuyến khích quý khách đặt chỗ trước nhằm đảm bảo luôn có vị
                    trí ghế cho quý vị, tuy nhiên quý vị vẫn có thể đến tại bến để đi mà không cần gọi đặt chỗ.
                    Quý hành khách có thể mua vé bằng các hình thức linh hoạt nhưng vẫn đảm bảo...
                </p>
                <a href="#" onclick="Updating(); return false;" ">Chi tiết</a>
            </div>
        </div>
        <div class="col-md-4 thongtin-block">
            <img src="/futabus.vn/Content/img/private/imgvchanghoa-18.png">
            <div class="thongtin-text">
                <h3>Vận chuyển hàng hóa</h3>
                <p>
                    Mỗi hành khách chỉ được mang theo 1 vali với kích thước trung bình và 1 túi hành lý
                    với kích cỡ xách tay. Hành lý được chấp thuận bao gồm vali, túi vải, thùng với những
                    khóa an toàn, mọi sự mất mát bên trong hành lý khi có khóa an toàn chúng tôi không chịu
                    trách nhiệm...
                </p>
                <a href="#" onclick="Updating(); return false;" ">Chi tiết</a>
            </div>
        </div>
        <div class="col-md-4 thongtin-block">
            <img src="/futabus.vn/Content/img/private/imgtongtinhanhly-19.png">
            <div class="thongtin-text">
                <h3>Thông tin hành lý</h3>
                <p>
                    Để đảm bảo sự an toàn cho các hàng hóa vận chuyển và an toàn cho sự di chuyển của tất cả
                    quý hành khách trên chuyến xe, quý hành khách có nhu cầu với dịch vụ vận chuyển hàng hóa
                    vui lòng đọc kĩ các quy định liên quan đến hàng hóa cần vận chuyển bên dưới đây...
                </p>
                <a href="#" onclick="Updating(); return false;">Chi tiết</a>
            </div>
        </div>
    </div>
        
</section>
<script type="text/javascript">
    function Updating() {
        alert("Trang này đang được cập nhật. Vui lòng quay lại sau.");
    }
</script>




<div id="fb-root"></div>
<script>
    (function (d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/vi_VN/sdk.js#xfbml=1&version=v2.5";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>
<div class="container">
    <div class="col-md-12" style="margin-bottom:30px;">
        
        
		<img src="futabus.vn/uploads/useravatar/Banner%20Khai%20Truong%20VP%20Vinh%20Thuan-01.png">
    </div>
    <div class="col-md-6">
        
          
    </div>
    <div class="col-md-6">
        
        
    </div>
</div>

<section id="body-news" class="container">
    <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 col-ms-12">
            <div class="item-block">
                <div class="items-news text-center wow fadeInUp animated" data-wow-offset="15" data-wow-duration="1.2s">
                    <img src="/futabus.vn/Content/img/customer.png">
                    <h5>
                        <a href>Hơn 20 triệu lượt khách</a>

                    </h5>
                    <p>Phương Trang phục vụ hơn 20 triệu lượt khách/ bình quân 1 năm trên toàn quốc</p>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 col-ms-12">
            <div class="item-block">
                <div class="items-news text-center wow fadeInUp animated" data-wow-offset="15" data-wow-duration="1.2s">
                    <img src="/futabus.vn/Content/img/home.png">
                    <h5>
                        <a href>Hơn 200 Phòng vé, Trạm trung chuyển</a>

                    </h5>
                    <p>Phương Trang có hơn 200 Phòng vé, Trạm trung chuyển, Bến xe... trên toàn hệ thống FUTA</p>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 col-ms-12">
            <div class="item-block">
                <div class="items-news text-center wow fadeInUp animated" data-wow-offset="15" data-wow-duration="1.2s">
                    <img src="/futabus.vn/Content/img/tech.png">
                    <h5>
                        <a href>Hơn 1,000 chuyến mỗi ngày</a>

                    </h5>
                    <p>Phương Trang phục vụ hơn 1000 chuyến xe đường dài và liên tỉnh mỗi ngày.</p>
                </div>
            </div>
        </div>
    </div>
</section>

            </div>
            <!-- add slidebar menu -->
<div class="sb-slidebar sb-left">

    <ul>
        <li class="first text-center">
            <a href>
                <img width="200" src="/futabus.vn/Content/img/logo.png" alt>
            </a>
        </li>
        <li><a href="en-US/"><img src="/futabus.vn/Content/res/GB.png" style="padding-bottom: 2px;" alt="English">&nbsp;<span>English</span></a></li>
        <li><a href="vi-VN/ve-xe-phuong-trang-lich-trinh.html">Giá vé</a></li>
        <li><a href="vi-VN/cac-chuong-trinh-khuyen-mai.html">Khuyến mãi</a></li>
        <li><a href="vi-VN/ve-xe-phuong-trang-tin-tuc.html">Tin tức</a></li>
        <li><a href="vi-VN/ve-xe-phuong-trang-lien-he.html">Liên hệ</a></li>

    <li><a href="https://id.futabus.vn">Đăng nhập</a></li>
	<li><a target="_blank" href="https://hoadon.futabus.vn/">Hóa đơn</a></li>

        <li><a href="vi-VN/ve-xe-phuong-trang-van-chuyen-hanh-khach.html">Dịch vụ vận chuyển hành khách</a></li>
        <li><a href="http://www.futaexpress.vn/">Dịch vụ vận chuyển hàng hoá</a></li>
        <li><a href="http://futataxi.vn/">Dịch vụ taxi</a></li>
        <li><a href="vi-VN/ve-xe-phuong-trang-tram-dung-chan.html">Dịch vụ trạm dừng</a></li>
        <li><a href="#cd-nav" class="cd-nav-trigger-mobile">Khuyến mãi mới</a></li>
    </ul>

</div>

<%- include ('../partials/footer') %>
<script>
    //$('#btnDatVe').
    $(document).on('click', '#btnDatVe', function(e) {
        e.preventDefault();
        //let arrBusesNull = [];
        let startPlace = $('#startPlace').val();
        let endPlace = $('#endPlace').val();

        let arrNull = []

        if(!startPlace || !endPlace){
            alert("Vui lòng chọn điểm đi, điểm đến")
        }
        //let dayTime = $('#dayTime').val();
        $.ajax({
            url: `/buses/list-buses`,
            method: 'GET',
            success: resp => {
                let result = resp.data;

                if(!resp.error){
                    if(result && result.length){
                        result.forEach(item => {
                            if(item.startPlace.toString() == startPlace.toString() 
                                && item.endPlace.toString() == endPlace.toString()){
                                return window.location.href = `/buses/chon-ghe?busesID=${item._id}`
                                
                            } else if(item.startPlace.toString() !== startPlace.toString()){
                                return arrNull.push(item.startPlace)
                            }
                        });

                        if(arrNull.length){
                            return alert("Không tìm thấy chuyến xe")
                        }
                    }
                    
                }else{

                    alert("Đặt vé không thành công")
                }
            },
            error: err => console.log({ err })
        });
    })


    
</script>
